<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Resources</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs', { apex:'../../../' }) %>

    <h1>Add a new Asset to the Database</h1>
    <form id="new-asset" action="/resources/Assets/<%= data.id %>?_method=PUT" method="POST">
        <fieldset aria-labelledby="Physical Assets">
            <legend>Add Physical Assets</legend>

            <label for="categories">Asset Category:</label>
            <select id="category" name="category" list="categories">
                <option value="Laptop" <%= data.category==='Laptop' && "selected" %>>Laptop</option>
                <option value="Monitor" <%= data.category==='Monitor' && "selected" %>>Monitor</option>
                <option value="Phablet" <%= data.category==='Phablet' && "selected" %>>Phablet</option>
                <option value="Tablet PC" <%= data.category==='Tablet PC' && "selected" %>>Tablet PC</option>
                <option value="Telephone" <%= data.category==='Telephone' && "selected" %>>Telephone</option>
                <option value="Server" <%= data.category==='Server' && "selected" %>>Server</option>
                <option value="Cable" <%= data.category==='Cable' && "selected" %>>Cable</option>
                <option value="Furniture" <%= data.category==='Furniture' && "selected" %>>Furniture</option>
            </select>
            
            <label for="brand">Brand:</label>
            <input id="brand" name="brand" type="text" maxlength="30" value="<%= data.brand %>" required>

            <label for="brand">Name:</label>
            <input id="name" name="name" type="text" maxlength="30"value="<%= data.name %>" required>

            <label for="serial-number">Serial Number:</label>
            <input id="serial-number" name="serialNumber" type="number" maxlength="30" value="<%= data.serialNumber %>" required>

            <label for="status">Status:</label>
            <select id="status" name="status" list="statuses" required>
                <option value="Active" <%= data.status==='Active' && "selected" %>>Active</option>
                <option value="Storage" <%= data.status==='Storage' && "selected" %>>Storage</option>
                <option value="Retired" <%= data.status==='Retired' && "selected" %>>Retired</option>
            </select>

            <label for="assigned-to">Assigned To</label>
            <input id="assigned-to" name="assignedTo" type="text" maxlength="30" value="<%= data.assignedTo %>" required>

            <label for="purchase-date">Purchase Date</label>
            <input id="purchase-date" name="purchaseDate" type="date" value="<%= new Date(data.purchaseDate).toISOString().split('T')[0] %>" required>

            <label for="warranty-end">Warranty End</label>
            <input id="warranty-end" name="warrantyEnd" type="date" value="<%= new Date(data.warrantyEnd).toISOString().split('T')[0] %>" required>

            <label for="notes">Additional Notes</label>
            <textarea id="notes" name="notes" type="date">
                <%= data.notes %>
            </textarea>

            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>