<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title:"All Resources" }) %>
<body>
    <%- include('../partials/navbar.ejs', { apex:'../../' }) %>

    <h1>All Resources</h1>
    <%  Object.keys(data).forEach(category => { %>
        <a href="/resources/<%= category %>s">
            <h2 id="<%= category %>" pluralize><%= category %></h2>
        </a>
            <ul>
            <% data[category].map(resource => { %>
            <li>
                <ul>
                    <h3><a href="/resources/<%= category %>/<%= resource.id %>"><%= resource.name %></a></h3>
                <% for (let item of Object.keys(templates[category])) { %>
                    <% if (item!=='name') { %>
                        <li normalizecsv><strong cameltotitle><%= item %></strong>: <%= resource[item] %></li>
                    <% } %>
                <% } %>
                </ul>
            </li>
            <% }) %>
        </ul>
    <% }) %>
</body>
</html>